<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic">
    <link rel="stylesheet" href="~/fonts/ionicons.min.css">
    <environment names="Development">
        <link rel="stylesheet" href="~/css/styles.css">
        <link rel="stylesheet" href="~/css/header.css">
        <link rel="stylesheet" href="~/css/footer.css">
        @if (@ViewData["Title"].ToString() == "Home")
        {
            <link rel="stylesheet" href="~/css/home.css">
        }
        @if (@ViewData["Title"].ToString() == "BookList")
        {
            <link rel="stylesheet" href="~/css/booklist.css">
        }
        @if (@ViewData["Title"].ToString() == "ShoppingCart")
        {
            <link rel="stylesheet" href="~/css/shoppingcart.css">
        }
        @if (@ViewData["Title"].ToString() == "Checkout")
        {
            <link rel="stylesheet" href="~/css/checkout.css">
        }
        @if (@ViewData["Title"].ToString() == "Login")
        {
            <link rel="stylesheet" href="~/css/login.css">
        }
        @if (@ViewData["Title"].ToString() == "Register")
        {
            <link rel="stylesheet" href="~/css/register.css">
        }
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css">
    </environment>
</head>

<body>
    <div>
        <nav class="navbar navbar-default navbar-fixed-top navigation-clean-search">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Quality Book</a>
                    <button data-toggle="collapse" class="navbar-toggle collapsed" data-target="#navcol-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">

                    @*<a asp-controller="Account" asp-action="Login">Login</a>
        <a asp-controller="Account" asp-action="Register" class="btn btn-default navbar-btn navbar-right action-button" role="button" >Sign Up</a>*@
                    <ul class="nav navbar-nav navbar-right">
                        @if (!User.Identity.IsAuthenticated || (User.Identity.IsAuthenticated && !User.IsInRole("admin")))
                        {
                            <li><a asp-controller="Contact" asp-action="Index">Contact Us</a></li>
                            <li>@await Component.InvokeAsync("ShoppingCartSummaryComponent")</li>
                        }
                        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                        {
                            <li><a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Managment</a></li>
                        }
                        @await Html.PartialAsync("LoginPartial")
                        @*<li><a asp-controller="Account" asp-action="Login">Login</a></li>*@
                    </ul>
                    @if (!User.Identity.IsAuthenticated || (User.Identity.IsAuthenticated && !User.IsInRole("admin")))
                    {
                        <form class="navbar-form navbar-left navbar-style navbar-right" id="navcol-1" asp-controller="Book" asp-action="Search" method="get">
                            <div class="form-group header-search">
                                <label class="control-label" for="search-field"><i class="glyphicon glyphicon-search nav-search-icon"></i></label>
                                <input type="search" class="form-control search-field" id="search-field" name="searchKey" placeholder="I am looking for..." />
                                <select class="custom-select search-type" id="searchCriteria" name="searchCriteria">
                                    <option value="1" selected>By Book Name</option>
                                    <option value="2">By Price</option>
                                </select>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </nav>
    </div>

    <div>
        @RenderBody()
    </div>

    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <p class="copyright">Inspired and Created by Li Qi</p>
        </footer>
    </div>


    <script src="~/js/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>