@model qualitybook2.ViewModels.CustomersAndOrdersAndOrderDetailsViewModel
@{
    ViewData["Title"] = "Profile";
}

<div class="container profile-container">
    <div class="row profile-row">
        <div><h2 style="display:inline-block">Profile</h2></div>
        <div class="row">
            <div class="col-lg-6 col-md-3">
                <h3>@Html.DisplayNameFor(model => model.CustomerCurrent.CustomerId):  <h5>@Html.DisplayFor(model => model.CustomerCurrent.CustomerId)</h5></h3>
                <h3>@Html.DisplayNameFor(model => model.CustomerCurrent.CustomerName):  @Html.DisplayFor(model => model.CustomerCurrent.CustomerName)</h3>
                <h3>@Html.DisplayNameFor(model => model.CustomerCurrent.Email):  @Html.DisplayFor(model => model.CustomerCurrent.Email)</h3>
                @*<h3>@Html.DisplayNameFor(model => model.CustomerCurrent.LockoutEnd):  @Html.DisplayFor(model => model.CustomerCurrent.LockoutEnd)</h3>*@
            </div>
            <div class="col-lg-6 col-md-9">
                <h3>@Html.DisplayNameFor(model => model.CustomerCurrent.Address):  @Html.DisplayFor(model => model.CustomerCurrent.Address)</h3>
                <h3>Contact Number :  @Html.DisplayFor(model => model.CustomerCurrent.PhoneNumberHome)</h3>
                @*<h3>@Html.DisplayNameFor(model => model.CustomerCurrent.PhoneNumberWork):  @Html.DisplayFor(model => model.CustomerCurrent.PhoneNumberWork)</h3>
                <h3>@Html.DisplayNameFor(model => model.CustomerCurrent.PhoneNumberMobile):  @Html.DisplayFor(model => model.CustomerCurrent.PhoneNumberMobile)</h3>*@
            </div>
        </div>
        <br />
        <div>
            <h2>Orders</h2>
            <table class="table table2" style="border:2px solid white;">
                <thead class="thead-light" style="border:2px solid white;">
                    <tr>
                        <th scope="col">OrderId</th>
                        <th scope="col">Placed DateTime</th>
                        <th scope="col">Status</th>
                        <th scope="col">SubTotal</th>
                        <th scope="col">GST</th>
                        <th scope="col">GrandTotal</th>
                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.Orders != null)
                        {
                            @foreach (Order order in Model.Orders)
                            {
                                <tr tabindex="2">
                                    <td>@order.OrderId</td>
                                    <td>@order.OrderPlacedDateTime</td>
                                    <td>@order.State</td>
                                    <td>@order.Subtotal.ToString("c")</td>
                                    <td>@order.GST.ToString("c")</td>
                                    <td>@order.GrandTotal.ToString("c")</td>
                                    <td class="adminindex-operation">
                                        @{
                                            IDictionary<string, string> routeData = new Dictionary<string, string>();
                                            routeData.Add("customerId", Model.CustomerIdCurrent);
                                            routeData.Add("orderId", order.OrderId.ToString());
                                        }
                                        <a asp-area="" asp-controller="Profile" asp-action="GetOrderDetailsOfOrder" asp-all-route-data="routeData">Select</a>
                                    </td>
                                </tr>
                            }
                        }
                    }

                </tbody>
            </table>
        </div>
        <br />

        <h2>Order Details</h2>
        <table class="table table3" style="border:2px solid white;">
            <thead class="thead-light" style="border:2px solid white;">
                <tr>
                    <th scope="col">Book Id</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Supplier</th>
                    <th scope="col">Price</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.OrderDetails != null)
                    {
                        @foreach (OrderDetail orderDetail in Model.OrderDetails)
                        {
                            <tr>
                                <td>@orderDetail.BookId</td>
                                <td>@orderDetail.book.BookName</td>
                                <td>@orderDetail.book.Category.CategoryName</td>
                                <td>@orderDetail.book.Supplier.SupplierName</td>
                                <td>@orderDetail.book.Price.ToString("c")</td>
                                <td>@orderDetail.Amount</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>


