@model qualitybook2.ViewModels.CustomersAndOrdersAndOrderDetailsViewModel
@{
    ViewData["Title"] = "AdminIndex";
}

<div class="container">
    <div class="row adminindex-menu">
            <ul>
                <li><a asp-area="Admin" asp-controller="Categories" asp-action="index">Category   |  </a></li>
                <li><a asp-area="Admin" asp-controller="Suppliers" asp-action="index">Supplier   |  </a></li>
                <li><a asp-area="Admin" asp-controller="Books" asp-action="index">Book   |  </a></li>
                <li><a asp-area="Admin" asp-controller="Customers" asp-action="index">Customer   |  </a></li>
                <li><a asp-area="Admin" asp-controller="" asp-action="index">Order </a></li>
            </ul>
    </div>
    <div class="row">
        <h2>Customers</h2>
        <table class="table table1" style="border:2px solid white;">
            <thead class="thead-dark"  style="border:2px solid white;">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Home Number</th>
                    <th scope="col">Work Number</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Locked due date</th>
                    <th scope="col">Operation</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Customer customer in Model.Customers)
                {
                    <tr tabindex="1">
                        <td>@customer.CustomerId</td>
                        <td>@customer.CustomerName</td>
                        <td>@customer.PhoneNumberHome</td>
                        <td>@customer.PhoneNumberWork</td>
                        <td>@customer.PhoneNumberMobile</td>
                        <td>@customer.Email</td>
                        <td>@customer.Address</td>
                        <td>@customer.LockoutEnd</td>
                        <td class="adminindex-operation"><a asp-area="Admin" asp-controller="Home" asp-action="GetOrdersOfCustomer" asp-route-customerid=@customer.CustomerId>Select</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <h2>Orders</h2>
        <table class="table table2"  style="border:2px solid white;">
            <thead class="thead-light"  style="border:2px solid white;">
                <tr>
                    <th scope="col">OrderId</th>
                    <th scope="col">Placed DateTime</th>
                    <th scope="col">Status</th>
                    <th scope="col">SubTotal</th>
                    <th scope="col">GST</th>
                    <th scope="col">GrandTotal</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.Orders != null)
                    {
                        @foreach (Order order in Model.Orders)
                        {
                            <tr tabindex="2">
                                <td>@order.OrderId</td>
                                <td>@order.OrderPlacedDateTime</td>
                                <td>@order.State</td>
                                <td>@order.Subtotal.ToString("c")</td>
                                <td>@order.GST.ToString("c")</td>
                                <td>@order.GrandTotal.ToString("c")</td>
                                <td class="adminindex-operation">
                                    @{
                                        IDictionary<string, string> routeData = new Dictionary<string, string>();
                                        routeData.Add("customerId", Model.CustomerIdCurrent);
                                        routeData.Add("orderId", order.OrderId.ToString());
                                    }
                                    <a asp-area="Admin" asp-controller="Home" asp-action="GetOrderDetailsOfOrder" asp-all-route-data="routeData">Select</a>
                                    |
                                    Change To Waiting
                                </td>
                            </tr>
                        }
                    }
                }

            </tbody>
        </table>
        <br />

        <h2>Order Details</h2>
        <table class="table table3"  style="border:2px solid white;">
            <thead class="thead-light"  style="border:2px solid white;">
                <tr>
                    <th scope="col">Book Id</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Supplier</th>
                    <th scope="col">Price</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.OrderDetails != null)
                    {
                        @foreach (OrderDetail orderDetail in Model.OrderDetails)
                        {
                            <tr>
                                <td>@orderDetail.BookId</td>
                                <td>@orderDetail.book.BookName</td>
                                <td>@orderDetail.book.Category.CategoryName</td>
                                <td>@orderDetail.book.Supplier.SupplierName</td>
                                <td>@orderDetail.book.Price.ToString("c")</td>
                                <td>@orderDetail.Amount</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>


